@import "../../../style/layout.scss";
@import "../../../style/mixins.scss";

.lingua-header {
  display: flex;
  padding: 0 rem(24px);
  height: $header-height;
  position: fixed;
  width: auto;
  z-index: 2;
  top: 0;
  right: 0;

  &__controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: black;
      font-size: 25px;
      display: flex;
      margin-top: 10px;
    }
  }
}
