.text-answer-test {
  margin: 0 auto;
  background-color: white;
  padding: 32px;
  width: 70vw;
  max-width: 750px;

  &__head {
    position: relative;
  }

  &__page {
    opacity: 0.6;
  }

  &__body {
  }

  &__text {
    text-align: center;
    font-size: 20px;
    margin: 40px 0;
  }
}
