:host {
  display: inline-flex;
  position: relative;
  top: 10px;
}
.lingua-logo-container {
  display: inline-flex;
  flex-direction: row;
}
.lingua-logo-text {
  font-size: 25px;
  margin-right: 20px;
}