:host {
  display: inline-flex;
  position: relative;
  top: 10px;
}
.lingua-logo-container {
  display: inline-flex;
  flex-direction: row;
}
.lingua-logo {
  cursor: pointer;
  display: inline-flex;
  height: 34px;
  width: 34px;
  margin-right: 8px;
  font-size: 21px;
  color: black;
  text-decoration: none;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url(../../../../assets/images/ChargeSkillsLogo.svg) center/contain
    no-repeat transparent;
}
.lingua-logo-text {
  font-size: 25px;
  margin-right: 20px;
}