@import "../../../style/layout.scss";
@import "../../../style/mixins.scss";

:host ::ng-deep {
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.lingua-aside {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: $header-height;
  height: 100vh;

  &__menu {
    height: 100%;
    width: 75px;
    overflow: hidden;
    color: white;
    transition: all 0.4s;
    padding: 0;
    list-style-type: none;
    font-size: rem(16px);
    margin-top: 0;

    &:hover {
      width: 300px;
    }

    .la-icon {
      font-size: 25px;
      margin: 10px 25px;
    }

    > li {
      display: flex;
      align-items: center;
      width: 400px;

      > a {
        color: #e9ecef;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }
  }

  &__full {
    width: 100%;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .lingua-divider {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
