:host ::ng-deep {
  .lingua-button {
    &__inner {
      padding: 7px;
    }
  }
}

.lingua-activity-button {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  transition: top 0.5s;
  pointer-events: all;
  button {
    width: 100%;
    border-radius: 0;
  }
}
