<ul class="packs">
  <li>
    <app-pack
      link="/app/dashboard/wordslist"
      [wordsAmount]="50"
      [progress]="20"
      [id]="1"
    ></app-pack>
  </li>

  <li>
    <app-pack
      link="/app/dashboard/wordslist"
      [wordsAmount]="120"
      [progress]="26"
      [id]="2"
    ></app-pack>
  </li>

  <li>
    <app-pack
      link="/app/dashboard/wordslist"
      [wordsAmount]="180"
      [progress]="60"
      [id]="3"
    ></app-pack>
  </li>

  <li>
    <app-pack
      link="/app/dashboard/wordslist"
      [wordsAmount]="240"
      [progress]="70"
      [id]="4"
    ></app-pack>
  </li>

  <li>
    <app-pack
      link="/app/dashboard/wordslist"
      [wordsAmount]="250"
      [progress]="20"
      [id]="5"
    ></app-pack>
  </li>

  <li>
    <app-pack
      link="/app/dashboard/wordslist"
      [wordsAmount]="280"
      [progress]="50"
      [id]="6"
    ></app-pack>
  </li>

  <li>
    <app-pack
      link="/app/dashboard/wordslist"
      [wordsAmount]="320"
      [progress]="77"
      [id]="7"
    ></app-pack>
  </li>
</ul>
