<div class="lingua-audio-test">
  <mat-card style="background-color: white">
    <mat-card-content class="lingua-audio-test__content">
      <div class="lingua-audio-test__content-resulticon">
        <span>{{index + 1}} из 5</span>
        <ng-container *ngIf="!answer; else thenBlock">
          <button
            mat-button
            fill="clear"
            size="large"
            (click)="speak(unit.foreignWord)"
          >
            <i class="lnr-volume-high text-primary"></i>
          </button>
        </ng-container>
      </div>

      <div class="lingua-audio-test__content-placeholder">
        {{answer.translation}}
      </div>
      <div class="divider"></div>

      <div class="lingua-audio-test__content-answers">
        <div
          class="lingua-audio-test__content-answers-chip"
          *ngFor="let item of copy"
          (click)="selectAnswer(item)"
          [style.display]="answer && answer === item ? 'none' : 'block'"
          [ngClass]="{rightAnswer: answer && unit === item}"
        >
          {{item.translation}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #successTemplate>
  <app-sweet-success type="success"></app-sweet-success>
</ng-template>

<ng-template #failTemplate>
  <app-sweet-success type="fail"></app-sweet-success>
</ng-template>
