.lingua-footer {
  position: relative;
  height: 60px;
  background: white;

  &__sections {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-button {
    font-size: 25px;
    margin: 0 12px;
    display: flex;
    align-items: center;
    color: var(--l-purple);

    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__name {
      font-size: 10px;
      text-transform: capitalize;
      color: #aeaeae;
    }
  }

  &__btn {
    &-notifications {
      opacity: 0.7;
      transition: opacity 0.2s;
      display: flex;
      align-items: center;
      align-content: center;
      text-align: center;
      padding: 0.83333333rem;
      border-radius: 0.25rem;
      width: 60px;
      height: 60px;
      cursor: pointer;
      position: relative;
      font-size: 1.8rem;
      margin: auto;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__badge {
    position: absolute;
    right: 50%;
    top: 5px;
    margin-right: -3px;
    background-color: #d92550;
    border: transparent solid 1px;
    border-radius: 100%;
    width: 6px;
    height: 6px;
  }
}
