<div class="lingua-footer">
  <app-activity-button></app-activity-button>

  <nav class="lingua-footer__sections">
    <a
      mat-flat-button
      mat-button
      class="section-button"
      *ngFor="let section of sections"
      [routerLink]="section.url"
      [routerLinkActive]="['is-active']"
      [matTooltip]="section.hint"
      [matTooltipPosition]="'above'"
      [ngStyle]="{ 'font-size': section.size }"
    >
      <div class="section-button__wrapper">
        <i class="{{ section.icon }}"></i>
        <span class="section-button__name" [ngStyle]="{ 'margin-top': section.marginTop }">{{section.title}}</span>
      </div>
    </a>
  </nav>
</div>
