.is-active {
  color: #255aa1 !important;
}
.lingua-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  &__sections {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #f9f9f9;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
  }

  .section-button {
    font-size: 40px;
    margin: 0 12px;
    display: flex;
    align-items: center;
    color: #909498;
    background-color: transparent;
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__name {
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 400;
      font-family: sans-serif;
    }
  }

  &__btn {
    &-notifications {
      opacity: 0.7;
      transition: opacity 0.2s;
      display: flex;
      align-items: center;
      align-content: center;
      text-align: center;
      padding: 0.83333333rem;
      border-radius: 0.25rem;
      width: 60px;
      height: 60px;
      cursor: pointer;
      position: relative;
      font-size: 1.8rem;
      margin: auto;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__badge {
    position: absolute;
    right: 50%;
    top: 5px;
    margin-right: -3px;
    background-color: #d92550;
    border: transparent solid 1px;
    border-radius: 100%;
    width: 6px;
    height: 6px;
  }
}
