$toolbar-height: 60px;
$pagetitle-height: 120px;

:host {
  display: flex;
  width: 100%;
  height: calc(100% - #{$pagetitle-height});
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }
}

.draggy {
  display: flex;
  justify-content: center;
  align-items: center;

  &__draggable {
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    width: 40vw;
    max-width: 900px;
    margin: 0 20px;

    @media screen and (max-width: 450px) {
      width: 95%;
    }
  }

  &__droppable {
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    width: 40vw;
    max-width: 900px;
    margin: 0 20px;
    transition: all 500ms;

    @media screen and (max-width: 450px) {
      width: 95%;
    }

    &-placeholder {
      border: dotted 3px #999;
      height: 70px;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      margin-bottom: -3px;
      position: relative;

      &-translation {
        position: absolute;
        width: 100%;
        height: 100%;
        text-transform: capitalize;
        justify-content: center;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }

  &__success {
    color: #3ac47d !important;
  }

  &__fail {
    color: #d92550 !important;
  }
}

.draggy__draggable-list.cdk-drop-list-dragging
  .draggy__draggable-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggy__draggable-list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  &:last-child {
    border: none;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-container {
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  width: 40vw;
  max-width: 900px;
  margin: 0 20px;

  @media screen and (max-width: 450px) {
    width: 95%;
  }
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.draggy__droppable-placeholder-text {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  z-index: 1;
  position: relative;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggy__droppable-placeholder-text:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging
  .draggy__droppable-placeholder-text:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
